/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}
.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}
.display {
    width: 100%;
}
.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}
button {
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
